* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.3;
}

html {
    height: 100%;
    font-size: 100%;
    background-color: #3ee9ff;
    color: #415f77;
    display: flex;
    justify-content: center;
    align-items: center;
}